@model TuotantoV1.Models.Asiakkaanperustiedot

@{
    ViewBag.Title = "Details";
}

    <h2>Asiakkaan perustiedot</h2>
    <p>
        @Html.ActionLink("Takaisin", "Index")
    </p>

<div>
    @*<h4>Asiakkaan perustiedot</h4>*@
    <hr />
    <table class="table table-hover">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Asiakasnumero)
            </th>

            <td>
                @Html.DisplayFor(model => model.Asiakasnumero)
            </td>
        </tr>
        <tr>

            <th>
                @Html.DisplayNameFor(model => model.Etunimi)
            </th>

            <td>
                @Html.DisplayFor(model => model.Etunimi)
            </td>
        </tr>
        <tr>

            <th>
                @Html.DisplayNameFor(model => model.Sukunimi)
            </th>

            <td>
                @Html.DisplayFor(model => model.Sukunimi)
            </td>
        </tr>
        <tr>

            <th>
                @Html.DisplayNameFor(model => model.Osoite)
            </th>

            <td>
                @Html.DisplayFor(model => model.Osoite)
            </td>
        </tr>
        <tr>

            <th>
                @Html.DisplayNameFor(model => model.Postinumero)
            </th>

            <td>
                @Html.DisplayFor(model => model.Postinumero)
            </td>
        </tr>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Postitoimipaikka)
            </th>

            <td>
                @Html.DisplayFor(model => model.Postitoimipaikka)
            </td>
        </tr>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Puhelin)
            </th>

            <td>
                @Html.DisplayFor(model => model.Puhelin)
            </td>
        </tr>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Sähköposti)
            </th>

            <td>
                @Html.DisplayFor(model => model.Sähköposti)
            </td>
        </tr>
        <tr>
            <th>
                <h4><b>Poikkeava laskutustieto:</b></h4>
            </th>
        </tr>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nimi)
            </th>

            <td>
                @Html.DisplayFor(model => model.Laskutusnimi)
            </td>
        </tr>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Osoite)
            </th>

            <td>
                @Html.DisplayFor(model => model.Laskutusosoite)
            </td>
        </tr>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Postinumero)
            </th>

            <td>
                @Html.DisplayFor(model => model.Laskutuspostinumero)
            </td>
        </tr>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Postitoimipaikka)
            </th>

            <td>
                @Html.DisplayFor(model => model.Laskutuspostitoimipaikka)
            </td>
        </tr>
    </table>
</div>
<p>
    <Button>@Html.ActionLink("Muokkaa", "Edit", new { id = Model.Asiakasnumero })</Button>
    <Button>@Html.ActionLink("Poista", "Delete", new { id = Model.Asiakasnumero })</Button>
     @Html.ActionLink("Seuraava", "Index", "Asiakasluokittelu")
</p>
