@model TuotantoV1.Models.Asiakastapahtumat

@{
    ViewBag.Title = "Delete";
}
    <style>
        body 
        {
            background-color: #F8F8FF;
        }
    </style>

<h2>Haluatko varmasti poistaa asiakastapahtuman?</h2>

<div>@Html.ActionLink("Takaisin", "Index")</div>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Asiakkaanperustiedot.Asiakasnumero)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Asiakkaanperustiedot.Asiakasnumero)
        </dd>
        
        <dt>
            @Html.DisplayNameFor(model => model.Asiakkaanperustiedot.Asiakas)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Asiakkaanperustiedot.Asiakas)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Päivämäärä)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Päivämäärä)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Yhteydenotto)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Yhteydenotto)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Kuvaus)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Kuvaus)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Ratkaisu)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Ratkaisu)
        </dd>

    </dl>

    @using (Html.BeginForm())
     {
        @Html.AntiForgeryToken()

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Poista" class="btn btn-default" onclick="return confirm('Tiedot on poistettu')" />
            </div>
        </div>
     }
</div>
