@model TuotantoV1.Models.Asiakastapahtumat

@{
    ViewBag.Title = "Delete";
}

<h2>Haluatko varmasti poistaa asiakastapahtuman?</h2>

@*<h3>Haluatko varmasti poistaa asiakastapahtuman?</h3>*@
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Asiakkaanperustiedot.Asiakasnumero)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Asiakkaanperustiedot.Asiakasnumero)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Päivämäärä)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Päivämäärä)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Yhteydenotto)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Yhteydenotto)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Kuvaus)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Kuvaus)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Ratkaisu)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Ratkaisu)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

<div class="form-actions no-color">
    @Html.ActionLink("Takaisin", "Index") |
    <input type="submit" value="Poista" class="btn btn-default" />
</div>
    }
</div>
