@model IEnumerable<TuotantoV1.Models.Asiakastapahtumat>

@{
    ViewBag.Title = "Index";
}

<h2>Asiakastapahtumat</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Päivämäärä)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Yhteydenotto)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Kuvaus)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Ratkaisu)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Asiakkaanperustiedot.Etunimi)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Päivämäärä)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Yhteydenotto)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Kuvaus)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Ratkaisu)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Asiakkaanperustiedot.Etunimi)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Tapahtumaid }) |
            @Html.ActionLink("Details", "Details", new { id=item.Tapahtumaid }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Tapahtumaid })
        </td>
    </tr>
}

</table>
