@model IEnumerable<TuotantoV1.Models.Asiakasluokittelu>

@{
    ViewBag.Title = "Index";
}
<br>
<p>
    @Html.ActionLink("Takaisin", "Index", "Etusivu")
</p>
<h2>Asiakasluokittelu</h2>
<br>
<br>
@using (Html.BeginForm())
{
<p>
    <b>Hae asiakasta:</b> @Html.TextBox("SearchString")
    <input type="submit" value="Hae" />&nbsp&nbsp<button>@Html.ActionLink("Näytä kaikki", "Index")</button>
    &nbsp&nbsp&nbsp&nbsp &nbsp&nbsp&nbsp&nbsp &nbsp&nbsp&nbsp&nbsp &nbsp&nbsp&nbsp&nbsp<button>@Html.ActionLink("Lisää uusi asiakasluokittelu", "Create")</button>
</p>
}

<br>
<table class="table table-hover">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Asiakkaanperustiedot.Asiakasnumero)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Asiakkaanperustiedot.Sukunimi)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Asiakkaanperustiedot.Etunimi)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Eläkeläisalennus)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Tv)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Pöytäkone)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Kannettava)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Matkapuhelin)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Tabletti)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Mokkula)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Wlan)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Asiakkaanperustiedot.Asiakasnumero)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Asiakkaanperustiedot.Sukunimi)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Asiakkaanperustiedot.Etunimi)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Eläkeläisalennus)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Tv)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Pöytäkone)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Kannettava)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Matkapuhelin)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Tabletti)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Mokkula)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Wlan)
            </td>
            <td>
                <button>@Html.ActionLink("Muokkaa", "Edit", new { id = item.Luokitteluid })</button>
                <button>@Html.ActionLink("Poista", "Delete", new { id = item.Luokitteluid })</button>
            </td>
        </tr>
    }
</table>
